<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:default_gps namespace="${namespace}" parent_link="${namespace}/base_link" />

  <xacro:default_pose_3d_macro
    namespace="${namespace}"
    parent_link="${namespace}/base_link"
    inertial_reference_frame="${inertial_reference_frame}" />

  <xacro:default_dvl namespace="${namespace}" parent_link="${namespace}/base_link">
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </xacro:default_dvl>

  <xacro:default_pressure namespace="${namespace}" parent_link="${namespace}/base_link">
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </xacro:default_pressure>

  <xacro:default_imu namespace="${namespace}" parent_link="${namespace}/base_link">
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </xacro:default_imu>

  <xacro:default_camera 
    namespace="${namespace}" 
    parent_link="${namespace}/base_link" 
    suffix="front">
    <origin xyz="1.2 0 0" rpy="0 0 0"/>
  </xacro:default_camera>

  <xacro:chemical_concentration_sensor_macro
      namespace="${namespace}"
      suffix=""
      reference_frame="world"
      parent_link="${namespace}/base_link"
      input_topic="/plume/particles"
      output_topic="particle_concentration"
      update_rate="2"
      gamma="0.001"
      water_salinity_value="35.0"
      plume_salinity_value="1.0"
      salinity_output_topic="salinity"
      salinity_unit="ppt"
      gain="5.0"
      noise_sigma="0.01"
      noise_amplitude="1"
      radius="50.0">
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </xacro:chemical_concentration_sensor_macro>

</robot>
